{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Novo Contato{% endblock %}

{% block content %}
  <form action="submit" method="post">
    {% csrf_token %}
    <input type="number" name="id_contato" value="{{ contato.id }}" hidden>
    {{ form.nome|as_crispy_field }}
    <div class="row">
      <div class="col-6">
        {{ form.facebook|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.whatsapp|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{ form.instagram|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.twitter|as_crispy_field }}
      </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form.linkedin|as_crispy_form }}
        </div>
        <div class="col-6">
            {{ form.tiktok|as_crispy_form }}
        </div>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
{% endblock %}