{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Contatos{% endblock %}
{% block page_title %}Contato{% endblock %}

{% block content %}
    <form>
        <div class="form-group">
            {% bootstrap_label "Nome" label_for="Nome" %}
            <input class="form-control" type="text" name="nome">
        </div>
        {% bootstrap_label "WhatsApp" label_for="WhatsApp" %}
        <br><input class="form-control mr-sm-2" type="text" name="whatsapp">
        {% bootstrap_label "Twitter" label_for="Twitter" %}
        <br><input class="form-control mr-sm-2" type="text" name="twitter">
        {% bootstrap_label "Facebook" label_for="Facebook" %}
        <br><input class="form-control mr-sm-2" type="text" name="facebook">
        {% bootstrap_label "Instagram" label_for="Instagram" %}
        <br><input class="form-control mr-sm-2" type="text" name="instagram">
        {% bootstrap_label "LinkedIn" label_for="LinkedIn" %}
        <br><input class="form-control mr-sm-2" type="text" name="linkedIn">
        {% bootstrap_label "TikTok" label_for="TikTok" %}
        <br><input class="form-control mr-sm-2" type="text" name="tiktok">
        <br><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Salvar</button>
    </form>
{% endblock %}