{% extends "base.html" %}

{% block title %}Contatos{% endblock %}
{% block page_title %}Contato{% endblock %}

{% block content %}
    <form action="submit" method="post">
        {% csrf_token %}
        <input type="number" name="id" value="{{ contato.id }}" hidden>
        <label for="id_nome" class="control-label requiredField">Nome
            <span class="asteriskField">*</span>
        </label>
        <div class="controls">
            <input class="form-control" type="text" name="nome" id="id_nome" value="{{ contato.nome }}">
        </div>
        <!--facebook,whatsapp,instagram,twitter,linkedin,tiktok-->
        <div class="row">
            <div class="col-6">
                <label for="id_facebook" class="control-label requiredField">Facebook
                <span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="form-control" type="text" name="facebook" id="id_facebook" value="{{ contato.facebook }}">
                </div>
            </div>
            <div class="col-6">
                <label for="id_whatsapp" class="control-label requiredField">WhatsApp
                <span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="form-control" type="text" name="whatsapp" id="id_whatsapp" value="{{ contato.whatsapp }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="id_instagram" class="control-label requiredField">Instagram
                <span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="form-control" type="text" name="instagram" id="id_instagram" value="{{ contato.instagram }}">
                </div>
            </div>
            <div class="col-6">
                <label for="id_twitter" class="control-label requiredField">Twitter
                <span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="form-control" type="text" name="twitter" id="id_twitter" value="{{ contato.twitter }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="id_linkedin" class="control-label requiredField">LinkedIn
                <span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="form-control" type="text" name="linkedin" id="id_linkedin"value="{{ contato.linkedin }}">
                </div>
            </div>
            <div class="col-6">
                <label for="id_tiktok" class="control-label requiredField">TikTok
                <span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input class="form-control" type="text" name="tiktok" id="id_tiktok" value="{{ contato.tiktok }}">
                </div>
            </div>
        </div>

        <br><button class="btn btn-success my-2 my-sm-0" type="submit">Salvar</button>
    </form>
{% endblock %}