{% extends "base.html" %}

{% block title %}Contatos{% endblock %}
{% block page_title %}Contatos{% endblock %}

{% block content %}
    <a href="contato/">
        <button type="button">Novo Contato</button>
    </a>

    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Facebook</th>
        <th>Instagram</th>
        <th>Whatsapp</th>
        <th>Twitter</th>
        <th>Linkedin</th>
        <th>TikTok</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      {% for contato in contacts %}
        <tr>
          <td><a href="/contatos/contato/?id={{contato.id}}">{{ contato.nome }}</a></td>
          <td>{{ contato.facebook }}</td>
          <td>{{ contato.instagram }}</td>
          <td>{{ contato.whatsapp }}</td>
          <td>{{ contato.twitter }}</td>
          <td>{{ contato.linkedin }}</td>
          <td>{{ contato.tiktok }}</td>
          <td><a href="contato/delete/?id={{ contato.id }}"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="3">No data</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
{% endblock %}